# App
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=yourpassword
DB_NAME=mini_ecommerce

# JWT
JWT_ACCESS_SECRET=your_access_secret_change_in_production
JWT_REFRESH_SECRET=your_refresh_secret_change_in_production
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# CORS
FRONTEND_URL=http://localhost:3001
